body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(43, 100, 133);
    
}
ul{
    display: block;
    list-style: none;
    margin-left: -40px;
}
.botao{
    background-color: rgb(245, 245, 245);
    height: 35px;
    border-radius: 5px;
    margin: 2px;
}
.res{
    display: inline-flex;
    margin-left: 4px;
}
div{
    padding: 15px;
}